@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @apply text-sm bg-gray-500 text-gray-900;
}



#root,
.app {
  height: 100%;
  width: 100%;
}