@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @apply text-sm bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}



#root,
.app {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    height: 200vh;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1fr);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    height: 100vh;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1fr);
  }
}